<header class="jumbotron hero-spacer">
  <h1>{{productsdetails?.title}}</h1>

  <img class="img-fluid img-thumbnail targetimage" src="{{productsdetails.photo}}" alt="">

  <p>Your basket amounts to {{productsdetails.price | currency:'EUR'}}</p>
  <p>product stock: {{productsdetails.stock}}</p>
  <p> {{productsdetails.description}}</p>
  
  <span *ngIf=" productsdetails.stock  === 1" [ngClass]="{'last' : productsdetails.stock  === 1}">LAST ONE AVAILABLE
  </span>

  <p>
    <a class="btn btn-primary btn-large" routerLink="/basket">See my basket</a>
  </p>
  </header>
  <hr>
  
  <div class="row text-center">
  
  <ng-container *ngFor="let product of products">
      <ng-container *ngIf ="productsdetails.title !== product.title"> 
          <app-product *ngIf="isAvailable(product)" [data]="product" (addToBasket)="updatePrice($event)" >
          </app-product>
      </ng-container> 
  </ng-container>
</div>